:root {
  --color-1: #4F5361;
  --color-2: #0F1B4C;
  --color-3: #687690;
  --color-4: #000336;
  --color-5: #7D8589;
  --color-6: #FFCA56;
  --color-7: #000339;
  --color-8: #5A6473;
  --color-9: #3B3C45;
  --color-10: #0689FF;
  --color-11: #e6f0ff;
  --color-12: #F5FAFE;
  --color-13: #A3A6AB;
  --color-14: #0688FF;
  --color-15: #A7A7A7;
  --color-16: #E9E9E9;
  --color-17: #7B8087;
  --color-18: #063183;
  --color-19: #002366;
  --color-20: #1C1C1D;
  --color-21: #7A7A7E;
  --color-22: #F9F9F9;
  --color-23: #646464;
  --color-24: #C2C2C2;
}