:root {
  --primary-color: #0F1B4C;
  --star-color: #FFCA56;
  --bg-color: #e6f0ff;
  --bg-color-2: #F5FAFE;
  --bg-color-3: #063183;
  --bg-color-4: #F9F9F9;
  --hr-color: #E9E9E9;
  --a-color: #0689FF;
  --p-color: #687690;
  --color-1: #4d4d52;
  --color-2: #000336;
}